:root {
  --green: #78b63c;
  --pink: #e30e76;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  display: grid;
  gap: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.card {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 0.25rem;
}

.ch {
  font-size: 2ch;
}

.ex {
  font-size: 2ex;
}

.em {
  font-size: 1.5em;
}

.em > p {
  font-size: 1em;
}

.rem {
  font-size: 1.5rem;
}

.rem > p {
  font-size: 1rem;
}

.vw {
  font-size: 1vw;
}

.vh {
  font-size: 2vh;
}

.vmin {
  font-size: 2vmin;
}

.vmax {
  font-size: 2vmax;
}

.percent {
  font-size: 125%;
}

.percent > p {
  font-size: 150%;
}
