@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');

/** Define Variables */
:root {
  /** COLORS */
  --black: #08131a;
  --darkTeal: #08485c;
  --accent: #78fade;
  --red: #f14c4c;
  --teal: #01779b;
  --white: #d3f3fc;
  --yellow: #f7f593;

  /* *FONT SIZES */
  --sm: 1.618rem; /* 12.94px */
  --md: 2rem; /* 16 px */
  --lg: 2.618rem; /* 20.94px */
  --xl: 4.236rem; /* 33.89px*/
  --xxl: 6.854rem; /* 54.83px */

  /** FONTS */
  --heading: 'Archivo Black', sans-serif;
  --body: 'Roboto', sans-serif;
}

/* * allows width and height values to apply to content, padding, and border. */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 67.5%; /* 8px base */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--body);
  background: var(--white);
  color: var(--teal);
}
