@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');

/** Define Variables */
:root {
  /** COLORS */
  --black: #08131a;
  --darkTeal: #08485c;
  --accent: #78fade;
  --red: #f14c4c;
  --teal: #01779b;
  --white: #d3f3fc;
  --yellow: #f7f593;

  /* *FONT SIZES */
  --sm: 1.618rem; /* 12.94px */
  --md: 2rem; /* 16 px */
  --lg: 2.618rem; /* 20.94px */
  --xl: 4.236rem; /* 33.89px*/
  --xxl: 6.854rem; /* 54.83px */

  /** FONTS */
  --heading: 'Archivo Black', sans-serif;
  --body: 'Roboto', sans-serif;

  --headerHeight: 5rem;
  --margin: 0 2rem;
  --maxWidth: 960px;
}

/* * allows width and height values to apply to content, padding, and border. */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 67.5%; /** 8px base */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--body);
  font-size: var(--md);
  background: var(--white);
  color: var(--black);
  display: grid;
}

main {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  margin: 0;
}

h1 {
  font-size: var(--xl);
}

h2 {
  font-size: var(--lg);
}

a {
  text-decoration: none;
  color: var(--body);
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

/****** HEADER ********/

header {
  background: var(--black);
  color: var(--white);
  height: var(--headerHeight);
  position: sticky;
  top: 0;
}

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-wrapper h2 {
  color: var(--accent);
}

/******** NAV MENU ************/

/** checkbox */
.menu-container input {
  opacity: 0;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 50%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  cursor: pointer;
}

/** label */
.menu-container label {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  text-indent: -9999px;
  display: grid;
  justify-items: flex-end;
  align-items: center;
}

/** hamburger icon */
.hamburger-icon {
  position: relative;
  background: var(--white);
  border-radius: 4rem;
  height: 4px;
  width: 3rem;
}

.hamburger-icon:before,
.hamburger-icon:after {
  position: absolute;
  width: 3rem;
  height: 100%;
  border-radius: 4rem;
  content: '';
  display: block;
  background: var(--white);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.hamburger-icon:before {
  top: -1rem;
}

.hamburger-icon:after {
  top: 1rem;
}

/** Transform icon */
input[type='checkbox']:checked + .icon-label .hamburger-icon {
  background: transparent;
}

input[type='checkbox']:checked + .icon-label .hamburger-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

input[type='checkbox']:checked + .icon-label .hamburger-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/** HAMBURGER MENU */
.menu {
  position: absolute;
  top: 3rem;
  right: -2rem;
  max-height: 30rem;
  width: 20rem;
  padding: 2rem;
  background: var(--white);
  color: var(--teal);
  overflow: hidden;
  display: grid;
  gap: 2rem;
  place-items: center;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/* make it hide */
.menu-container input:checked ~ nav ul {
  transform: none;
}

/* links in menu */
.menu a {
  transition: all 0.2s linear;
}

.menu a:hover {
  text-decoration: underline;
  color: var(--darkTeal);
}

/****** END HEADER ******/

/****** MAIN SECTION *******/

.hero {
  background: var(--darkTeal) url(./images/bg.jpg) no-repeat fixed center /
    cover;
  height: calc(100vh - var(--headerHeight));
  color: var(--white);
}

.hero-wrapper {
  height: 100%;
  display: grid;
  gap: 1rem;
  place-content: center;
}

.hero-wrapper h1 {
  color: var(--accent);
}

.hero-wrapper a {
  background: var(--accent);
  font-size: var(--sm);
  color: var(--black);
  padding: 1rem 4rem;
  border-radius: 4rem;
  justify-self: start;
  transition: filter 0.2s linear;
}

.hero-wrapper a:hover {
  filter: brightness(0.9);
}

.hero-wrapper a:focus {
  box-shadow: 0 0 0 3px var(--yellow);
}

.services {
  height: 100%;
}

.services-wrapper {
  height: 100%;
  display: grid;
  gap: 1rem;
  place-content: center;
}

.s-icons {
  display: flex;
}

.header-wrapper,
.hero-wrapper,
.services-wrapper,
.footer-wrapper {
  margin: var(--margin);
  max-width: var(--maxWidth);
}

footer {
  background: var(--darkTeal);
}

@media only screen and (min-width: 960px) {
  :root {
    --margin: 0 auto;
  }

  #toggle {
    display: none;
  }

  .menu-container label {
    display: none;
  }

  .menu {
    background: transparent;
    color: var(--white);
    width: 100%;
    position: relative;
    display: flex;
    transform: none;
    top: 0;
    right: 0;
    padding: 0;
  }

  .menu a:hover {
    color: var(--accent);
  }
}
